body{
    background-image: url(assets/gato_fundo.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1 {
    color:aliceblue
}
h2{
    color: aliceblue;
}
p{
    color: aliceblue
}
p {
    color:aliceblue
}