body{
    background-image: url(assets/verdefundo\ zoo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h2{
    text-align: center;
    color: rgb(42, 21, 7);
    font-size: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p { 
  text-align:left;
  color:rgb(251, 249, 249);
  font-size: 20px;

}

button {
    display: block;
    margin: 60px auto;
    background-color: rgb(23, 14, 3);
    border-radius: 15px;
}

a{
    display: block;
    color: rgb(243, 238, 238);
    text-decoration: none;
    margin: 20px;

}